<div class="d-flex flex-column row-gap-1">
  <button
    routerLink="/customer/thong-tin-ca-nhan"
    type="button"
    class="btn text-start"
    [ngClass]="{
      'btn-primary': check === 'thong-tin',
      'btn-outline-primary': check !== 'thong-tin'
    }"
  >
    <i class="bi bi-person-fill me-2"></i>Thông tin cá nhân
  </button>
  <button
    routerLink="/customer/order-history"
    type="button"
    class="btn text-start"
    [ngClass]="{
      'btn-primary': check === 'history',
      'btn-outline-primary': check !== 'history'
    }"
  >
    <i class="bi bi-journals me-2"></i>Lịch sử mua đồ
  </button>
  <button
    routerLink="/customer/edit"
    type="button"
    class="btn text-start"
    [ngClass]="{
      'btn-primary': check === 'edit',
      'btn-outline-primary': check !== 'edit'
    }"
  >
    <i class="bi bi-pencil-square me-2"></i>Chỉnh sửa thông tin
  </button>
  <button
    routerLink="/customer/voucher"
    type="button"
    class="btn text-start"
    [ngClass]="{
      'btn-primary': check === 'voucher',
      'btn-outline-primary': check !== 'voucher'
    }"
  >
    <i class="bi bi-tags-fill me-2"></i>Mã giảm giá/ Ưu đãi
  </button>
  <button type="button" class="btn text-start disabled">
    Upcoming Features
  </button>
</div>
