@if (check){
<app-product-detail
  [productId]="selectedId"
  (newCheck)="onHandleClosePopup()"
></app-product-detail>
}
<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-light-subtle rounded border-end">
      <div class="my-3">
        <button
          type="button"
          class="btn border-0 border-bottom shadow-none w-100 fs-5"
          [ngClass]="{
            'btn-outline-primary': checkValueSide !== 'banh-ngot',
            ' btn-primary': checkValueSide === 'banh-ngot'
          }"
          (click)="checkValueSide = 'banh-ngot'; onUpdate()"
        >
          Bánh ngọt
        </button>
      </div>
      <div class="my-3">
        <button
          type="button"
          class="btn border-0 border-bottom shadow-none w-100 fs-5"
          [ngClass]="{
            'btn-outline-primary': checkValueSide !== 'bua-nhe',
            'btn-primary': checkValueSide === 'bua-nhe'
          }"
          (click)="checkValueSide = 'bua-nhe'; onUpdate()"
        >
          Bữa nhẹ
        </button>
      </div>
      <div class="my-3">
        <button
          type="button"
          class="btn border-0 border-bottom shadow-none w-100 fs-5"
          [ngClass]="{
            'btn-outline-primary': checkValueSide !== 'other',
            'btn-primary': checkValueSide === 'other'
          }"
          (click)="checkValueSide = 'other'; onUpdate()"
        >
          Món ăn khác
        </button>
      </div>
    </div>
    <div class="col-10 mt-4">
      @for (group of grouped; let i = $index; track i){
      <div [class.active]="i === 0">
        <div class="row">
          @for(product of group; track product.id){
          <div class="col-md-3 mb-3">
            <div class="card h-100 shadow-sm border-0 rounded-4 w-100">
              <figure>
                <img
                  [src]="product.img"
                  class="card-img-top p-2 rounded-4"
                  alt="..."
                  style="height: 200px; cursor: pointer"
                  (click)="onHandleViewDetail(product.id)"
                />
              </figure>

              <div class="card-body p-2 text-center d-flex flex-column">
                <h6 class="card-title mb-2 fw-bold">
                  {{ product.name }}
                </h6>
                <p class="card-text mb-2 text-primary fw-semibold">
                  Giá:
                  {{ product.price | currency : "VND" : "symbol" : "1.0-0" }}
                </p>
                <div class="mt-auto">
                  <button
                    class="btn btn-sm btn-outline-primary rounded-pill"
                    type="button"
                  >
                    Xem chi tiết
                  </button>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
      }
    </div>
  </div>
</div>
