<section class="product-slide">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner" style="height: 25rem">
      <div class="carousel-item active">
        <img
          src="assets/placeholder.png"
          class="d-block w-100 h-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/placeholder.png"
          class="d-block w-100 h-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/placeholder.png"
          class="d-block w-100 h-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<section class="food">
  <h1>Thức ăn</h1>
  <div class="container best-seller">
    <h2>Best Seller</h2>
    <div class="row mx-auto">
      <div class="col-3">
        <div class="card">
          <img
            src="assets/placeholder.png"
            class="card-img-top"
            alt="./food-placehoder"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <button class="btn btn-primary" type="button">Xem chi tiết</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img
            src="assets/placeholder.png"
            class="card-img-top"
            alt="./food-placehoder"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <button class="btn btn-primary" type="button">Xem chi tiết</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img
            src="assets/placeholder.png"
            class="card-img-top"
            alt="./food-placehoder"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <button class="btn btn-primary" type="button">Xem chi tiết</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img
            src="assets/placeholder.png"
            class="card-img-top"
            alt="./food-placehoder"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <button class="btn btn-primary" type="button">Xem chi tiết</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-5 products">
    <h2>Sản phẩm</h2>
    <div class="row mx-auto">
      <div class="col-3">
        <div class="card">
          <img class="card-img-top" src="assets/placeholder.png" alt="" />
          <div class="card-body">
            <h5 class="card-title">Cà phê</h5>
            <button class="btn btn-primary" type="button">Xem chi tiết</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img src="assets/placeholder.png" alt="" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Cà phê</h5>
            <button class="btn btn-primary" type="button">Xem chi tiết</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img src="assets/placeholder.png" alt="" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Cà phê</h5>
            <button class="btn btn-primary" type="button">Xem chi tiết</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img src="assets/placeholder.png" alt="" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Cà phê</h5>
            <button class="btn btn-primary" type="button">Xem chi tiết</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="drink">
  <h1>Đồ uống</h1>
  <div class="container best-seller">
    <div class="row mx-auto">
      <div class="col-3">
        <div class="card">
          <img src="assets/placeholder.png" alt="" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Đồ uống</h5>
            <button class="btn btn-primary">Xem chi tiết</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img src="assets/placeholder.png" alt="" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Đồ uống</h5>
            <button class="btn btn-primary">Xem chi tiết</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img src="assets/placeholder.png" alt="" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Đồ uống</h5>
            <button class="btn btn-primary">Xem chi tiết</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img src="assets/placeholder.png" alt="" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Đồ uống</h5>
            <button class="btn btn-primary">Xem chi tiết</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
