<div class="container mt-3">
  <div class="row">
    <table class="table table-bordered align-middle">
      <thead>
        <tr>
          <th scope="col" style="width: 60%">Tên đơn hàng</th>
          <th scope="col" style="width: 10%">Giá tiền</th>
          <th scope="col" style="width: 10%">Số lượng</th>
          <th scope="col" style="width: 10%">Thành tiền</th>
          <th scope="col" style="width: 5%"></th>
        </tr>
      </thead>
      <tbody>
        @if (productCart && productCart.length > 0){ @for (product of
        productCart; track product.id){
        <tr>
          <td>
            <img
              class="me-3 float-start"
              [src]="product.img"
              style="max-width: 9rem"
            />
            <p class="h4">
              {{ product.name }}
            </p>
            <p>{{ product.desc }}</p>
          </td>
          <td>
            <span class="fw-bold text-primary">
              {{ product.price | currency : "VND" : "symbol" : "1.0-0" }}
            </span>
          </td>
          <td class="text-center align-items-center">
            <div class="d-flex align-items-center justify-content-center">
              <button
                class="btn btn-outline-dark py-1 px-2 fw-bold"
                (click)="onDecrease(product.id)"
                type="button"
              >
                -
              </button>
              <input
                class="form-control text-center mx-2"
                style="width: 3rem"
                type="text"
                [value]="product.quantity"
                (change)="onHandleInputQuantity(product.id, $event)"
              />
              <button
                class="btn btn-outline-dark py-1 px-2 fw-bold"
                (click)="onIncrease(product.id)"
                type="button"
              >
                +
              </button>
            </div>
          </td>
          <td>
            <span class="fw-bold text-primary">
              {{
                (product.quantity ?? 0) * (product.price ?? 0)
                  | currency : "VND" : "symbol" : "1.0-0"
              }}
            </span>
          </td>
          <td>
            <button
              (click)="onDeleteItemCart(product.id)"
              class="btn btn-delete text-primary"
            >
              X
            </button>
          </td>
        </tr>
        } } @else {
        <tr>
          <td colspan="5" class="text-center py-5">
            <span class="h2">Vui lòng thêm sản phẩm vào giỏ hàng</span>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <div class="row g-0">
      <div class="form-floating col-6">
        <textarea
          class="form-control w-50 h-100"
          placeholder="Leave a comment here"
          id="floatingTextarea2"
        ></textarea>
        <label for="floatingTextarea2">Ghi chú</label>
      </div>
      <div class="col-6">
        <p class="text-end">
          Tổng tiền: {{ totalPrice | currency : "VND" : "symbol" : "1.0-0" }}
        </p>
        <p class="text-end">Áp mã:</p>
        <p class="text-end">Tiền ship</p>
      </div>
    </div>
    <div>
      <h2 class="text-end text-primary mb-3">
        Thành tiền: {{ totalPrice | currency : "VND" : "symbol" : "1.0-0" }}
      </h2>
    </div>
    <form>
      <button class="btn btn-outline-warning w-100 mb-3">
        Sử dụng voucher
      </button>
      <button
        (click)="onHandlePayProduct()"
        class="btn btn-outline-success w-100 mb-3"
        type="button"
      >
        Mua đồ
      </button>
    </form>
  </div>
</div>

<!-- <button (click)="test()">TESST</button> -->
