<div class="card text-center">
  <div class="card-header"></div>
  <div class="card-body social-media-icon">
    <div class="card-body">
      <a><i class="fa-brands fa-square-facebook"></i></a>
      <a><i class="fa-brands fa-square-facebook"></i></a
      ><a><i class="fa-brands fa-square-facebook"></i></a
      ><a><i class="fa-brands fa-square-facebook"></i></a>
    </div>
  </div>
  <div class="nav-links"></div>
  <div class="card-footer bullshit-context">A website is a website</div>
</div>
