<!-- Đường dẫn tĩnh: routerLink="/cart"
Đường dẫn động/biến: [routerLink]="['/cart', id]" 

Nếu chỉ dẫn đến một route tĩnh, dùng routerLink="/cart" là ngắn gọn, dễ đọc.
Nếu có tham số hoặc muốn truyền biến, dùng [routerLink]="['/cart', id]".-->
<nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
  <div class="container-fluid">
    <a class="navbar-brand fs-3" href="#">COFFE LAND</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active headerText py-4 fs-5"
            aria-current="page"
            routerLink="/"
            >Trang chủ</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active headerText py-4 fs-5"
            aria-current="page"
            href="#"
            >Đồ ăn</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active headerText py-4 fs-5"
            aria-current="page"
            href="#"
            >Đồ uống</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active headerText py-4 fs-5"
            aria-current="page"
            href="#"
            >Về chúng tôi</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/cart']"
            routerLinkActive="router-link-active"
            class="nav-link active headerText py-4 fs-5"
            aria-current="page"
            >Giỏ hàng</a
          >
        </li>

        <!-- <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Sản phẩm
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Thức ăn</a></li>
              <li><a class="dropdown-item" href="#">Nước uống</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
      </ul>
      <!-- <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          name="q"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
            />
          </svg>
        </button>
      </form> -->
      <app-button
        methodBtn="get"
        typeBtn="button"
        context="Đăng nhập"
      ></app-button>
      <app-button
        methodBtn="get"
        typeBtn="button"
        context="Đăng ký"
      ></app-button>
    </div>
  </div>
</nav>
