.headerText:hover {
  background-color: #900;
  color: white;
}
.headerText {
  font-size: large;
}
.cartIcon {
  cursor: pointer;
}
.superBorder {
  border-width: 10px !important;
  border-color: #900;
}
