<div class="container-fluid">
  <div class="col-6 mx-auto">
    <p class="h1 text-center">Đăng nhập</p>
    <form (ngSubmit)="onLogin()">
      @if (loginType === "email"){
      <div class="mb-3">
        <label for="emailInput" class="form-label">Email: </label>
        <input
          class="form-control"
          type="email"
          id="emailInput"
          name="email"
          placeholder="name@gmail.com"
          required
          [(ngModel)]="email"
        />
      </div>
      } @else if (loginType === "phone"){
      <div class="mb-3">
        <label for="phoneInput" class="form-label">Phone: </label>
        <input
          class="form-control"
          type="text"
          id="phoneInput"
          name="phone"
          placeholder="0987654321"
          required
          [(ngModel)]="phone"
        />
      </div>
      }
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="radioDefault"
          id="radioDefault1"
          [(ngModel)]="loginType"
          [value]="'email'"
        />
        <label class="form-check-label" for="radioDefault1">
          Sử dụng email
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="radioDefault"
          id="radioDefault2"
          [(ngModel)]="loginType"
          [value]="'phone'"
          checked
        />
        <label class="form-check-label" for="radioDefault2">
          Sử dụng số điện thoại
        </label>
      </div>
      <div class="mb-3">
        <label for="passInput" class="form-label">Mật khẩu: </label>
        <input
          class="form-control"
          type="password"
          id="passInput"
          name="pass"
          required
          [(ngModel)]="pass"
        />
      </div>
      <div class="mb-3">
        <button class="btn btn-outline-success w-100" type="submit">
          Đăng nhập
        </button>
      </div>
      <div class="mb-3">
        <button
          class="btn btn-outline-danger w-100"
          type="button"
          routerLink="/recover"
        >
          Quên mật khẩu
        </button>
      </div>
    </form>
  </div>
</div>
