@if (check){
<app-product-detail
  [productId]="selectedId"
  (newCheck)="onHandleClosePopup()"
></app-product-detail>
}
<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-light-subtle rounded border-end">
      <div class="my-3">
        <button
          type="button"
          class="btn border-0 border-bottom shadow-none w-100 fs-5"
          [ngClass]="{
            'btn-outline-primary': checkValueSide !== 'ca-phe',
            'btn-primary': checkValueSide === 'ca-phe'
          }"
          (click)="checkValueSide = 'ca-phe'; onUpdate(); onReset()"
        >
          <i class="bi bi-cup-hot me-2"></i>
          Cà phê
        </button>
      </div>
      <div class="my-3">
        <button
          type="button"
          class="btn border-0 border-bottom shadow-none w-100 fs-5"
          [ngClass]="{
            'btn-outline-primary': checkValueSide !== 'tra',
            'btn-primary': checkValueSide === 'tra'
          }"
          (click)="checkValueSide = 'tra'; onUpdate(); onReset()"
        >
          <i class="bi bi-cup me-2"></i>
          Trà
        </button>
      </div>
      <div class="my-3">
        <button
          type="button"
          class="btn border-0 border-bottom shadow-none w-100 fs-5"
          [ngClass]="{
            'btn-outline-primary': checkValueSide !== 'other',
            'btn-primary': checkValueSide === 'other'
          }"
          (click)="checkValueSide = 'other'; onUpdate(); onReset()"
        >
          <i class="bi bi-cup-straw me-2"></i>
          Đồ uống khác
        </button>
      </div>
    </div>

    <div class="col-10 mt-4">
      <div class="d-flex align-items-center my-2">
        <div>
          <select
            name=""
            id=""
            class="form-select"
            [(ngModel)]="priceSort"
            (change)="onUpdate()"
          >
            <option value="default">Mặc định</option>
            <option value="giam">Giá giảm dần</option>
            <option value="tang">Giá tăng dần</option>
          </select>
        </div>
        <input
          [(ngModel)]="searchItem"
          (input)="onUpdate()"
          type="search"
          class="form-control ms-auto w-25"
          placeholder="Tìm kiếm sản phẩm"
        />
      </div>
      @for (group of grouped; let i = $index; track i){
      <div [class.active]="i === 0">
        <div class="row">
          @for(product of group; track product.id){
          <div class="col-md-3 mb-3">
            <figure>
              <div class="card h-100 shadow border-0 rounded-4 w-75 mx-auto">
                <img
                  [src]="product.img"
                  class="card-img-top p-2 rounded-4 img-thumbnail"
                  alt="..."
                  style="height: 200px; cursor: pointer"
                  (click)="onHandleViewDetail(product.id)"
                />

                <div class="card-body p-2 text-center d-flex flex-column">
                  <h6 class="card-title mb-2 fw-bold">
                    {{ product.name }}
                  </h6>
                  <p class="card-text mb-2 text-primary fw-semibold">
                    Giá:
                    {{ product.price | currency : "VND" : "symbol" : "1.0-0" }}
                  </p>
                  <div class="mt-auto">
                    <button
                      class="btn btn-sm btn-outline-primary rounded-pill"
                      type="button"
                    >
                      Xem chi tiết
                    </button>
                  </div>
                </div>
              </div>
            </figure>
          </div>
          }
        </div>
      </div>
      }
    </div>
  </div>
</div>
