<div class="container my-3">
  <div class="row">
    <div class="col-8">
      <div class="col-9 mb-3 d-flex justify-content-between mx-auto">
        <span class="fs-6 mt-2 opacity-50">Họ tên:</span>
        <p class="fs-6 mt-2">{{ userCurrent.userName }}</p>
      </div>
      <div class="col-9 mb-3 d-flex justify-content-between mx-auto">
        <span class="fs-6 mt-2 opacity-50">Ngày sinh:</span>
        <p class="fs-6 mt-2">{{ userCurrent.date | date : "longDate" }}</p>
      </div>

      <div class="col-9 mb-3 d-flex justify-content-between mx-auto">
        <span class="fs-6 mt-2 opacity-50">Giới tính:</span>
        <p class="fs-6 mt-2">{{ userCurrent.gender }}</p>
      </div>
      <div class="col-9 mb-3 d-flex justify-content-between mx-auto">
        <span class="fs-6 mt-2 opacity-50">Email:</span>
        <p class="fs-6 mt-2">{{ userCurrent.email }}</p>
      </div>

      <div class="col-9 mb-3 d-flex justify-content-between mx-auto">
        <span class="fs-6 mt-2 opacity-50">Số điện thoại:</span>
        <p class="fs-6 mt-2">{{ userCurrent.phone }}</p>
      </div>
      <div class="col-9 mb-3 d-flex justify-content-between mx-auto">
        <span class="fs-6 mt-2 opacity-50">Tỉnh/Thành phố:</span>
        <p class="fs-6 mt-2">{{ userCurrent.city }}</p>
      </div>

      <div class="col-9 mb-3 d-flex justify-content-between mx-auto">
        <span class="fs-6 mt-2 opacity-50">Địa chỉ:</span>
        <p class="fs-6 mt-2">{{ userCurrent.address }}</p>
      </div>
    </div>

    <div class="col-4 border-start border-gray">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
