<div class="container my-3">
  <div class="row mx-auto">
    <div class="col-4">
      <div class="list-group">
        <button
          routerLink="/customer/thong-tin-ca-nhan"
          type="button"
          class="list-group-item list-group-item-action list-group-item-success"
        >
          Thông tin cá nhân
        </button>
        <button
          routerLink="/customer/order-history"
          type="button"
          class="list-group-item list-group-item-action list-group-item-success active"
        >
          Lịch sử mua đồ
        </button>
        <button
          routerLink="/customer/edit"
          type="button"
          class="list-group-item list-group-item-action list-group-item-success"
        >
          Chỉnh sửa thông tin
        </button>
        <button
          routerLink="/customer/nang-cao"
          type="button"
          class="list-group-item list-group-item-action list-group-item-success"
        >
          Nâng cao
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action list-group-item-success disabled"
        >
          Upcoming Features
        </button>
      </div>
    </div>
  </div>
</div>
