<div class="container my-3">
  <div class="row mx-auto">
    <div class="col-8">
      <form class="row" (ngSubmit)="onSaveEdit()">
        <div class="col-6 mb-3">
          <label class="fs-5 fw-bold">Họ tên:</label>
          <input
            class="form-control mt-2"
            type="text"
            name="userName"
            [(ngModel)]="userName"
          />
        </div>
        <div class="col-6 mb-3">
          <label class="fs-5 fw-bold">Ngày sinh:</label>
          <input
            class="form-control mt-2"
            type="date"
            name="date"
            [(ngModel)]="date"
          />
        </div>

        <div class="col-6 mb-3">
          <label class="fs-5 fw-bold">Giới tính:</label>
          <!-- <input class="form-control mt-2" name="gender" [(ngModel)]="gender" /> -->
          <select class="form-select" name="gender" [(ngModel)]="gender">
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
          </select>
        </div>
        <div class="col-6 mb-3">
          <label class="fs-5 fw-bold">Email:</label>
          <input
            class="form-control mt-2"
            name="mail"
            type="email"
            [(ngModel)]="mail"
          />
        </div>

        <div class="col-6 mb-3">
          <label class="fs-5 fw-bold">Số điện thoại:</label>
          <input
            class="form-control mt-2"
            type="text"
            name="phone"
            [(ngModel)]="phone"
          />
        </div>
        <div class="col-6 mb-3">
          <label class="fs-5 fw-bold">Tỉnh/Thành phố:</label>
          <!-- <input class="form-control mt-2" name="city" [(ngModel)]="city" /> -->
          <select name="city" id="city" class="form-select" [(ngModel)]="city">
            @for (city of provinces; track city.code){
            <option>
              {{ city.name.replace("Tỉnh", "").replace("Thành phố", "") }}
            </option>
            }
          </select>
        </div>

        <div class="col-12">
          <label class="fs-5 fw-bold">Địa chỉ chi tiết:</label>
          <input
            class="form-control mt-2"
            type="text"
            name="address"
            [(ngModel)]="address"
          />
        </div>
        <div class="text-end mt-3">
          <button class="btn btn-outline-success px-3 fs-5">Lưu lại</button>
        </div>
      </form>
    </div>

    <div class="col-4 border-start border-gray">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
