<div class="container">
  <div class="row mx-auto">
    <div class="col-6">
      <h1 class="text">Đăng ký</h1>
      <div>
        <form>
          <div class="mb-3">
            <label for="nameInput" class="form-label">Họ và tên: </label>
            <input class="form-control" type="text" id="nameInput" required />
          </div>
          <div class="mb-3">
            <label for="birthInput" class="form-label">Ngày sinh </label>
            <input class="form-control" type="date" id="birthInput" required />
          </div>
          <div class="mb-3">
            <label for="phoneInput" class="form-label">Số điện thoại: </label>
            <input class="form-control" type="phone" id="phoneInput" required />
          </div>
          <div class="mb-3">
            <label for="emailInput" class="form-label">Email: </label>
            <input class="form-control" type="email" id="emailInput" required />
          </div>
          <div class="mb-3">
            <label for="reEmailInput" class="form-label"
              >Nhập lại Email:
            </label>
            <input
              class="form-control"
              type="email"
              id="reEmailInput"
              required
            />
          </div>
          <div class="mb-3">
            <label for="passInput" class="form-label">Mật khẩu: </label>
            <input
              class="form-control"
              type="password"
              id="passInput"
              required
            />
          </div>
          <div class="mb-3">
            <label for="rePassInput" class="form-label"
              >Nhập lại mật khẩu:
            </label>
            <input
              class="form-control"
              type="password"
              id="rePassInput"
              required
            />
          </div>
          <div class="mb-3">
            <button
              class="btn btn-outline-success position-absolute bottom--50 end-50"
              type="submit"
            >
              Đăng ký
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-6">
      <img
        src="assets/banner3.jpg"
        class="img-fluid rounded h-100 vw-100 shadow"
      />
    </div>
  </div>
</div>
